:root {
    --main-dark: black;
    --dark-grey: rgb(65, 65, 65);
    --light-grey: rgb(110, 110, 110);
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */


    .main_content {
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }

    .main_in_wrapper {
        width: 100%;
    }
    
    .right_ {
        display: none;
    }

    /* NAVIGATION */
    .side_nav {
        display: none;
    }


    .side_nav .gr-side-logo {
        width: 50px;
        padding-left: 10px;
        display: none;
    }

    .mobile-title {
        display: block;
        text-transform: lowercase;
        font-size: 1.55rem;
        text-align: center;
        width: 100%;
        margin: 0 auto;
    }

    /* RECENT */

    .recent {
        text-align: center;
        width: 100%;
        margin: 0 auto;
    }

    .recent h1 {
        font-size: 1rem;
    }

    .recent ul {
        display: grid;
        padding: 0;
        width: 75%;
        margin: 0 auto;
    }

    .recent ul li {
        text-decoration: none;
        list-style: none;
        text-align: center;
        width: 100%;

    }

    .recent ul li img {
        width: 50px;
        border: 1px solid white;

    }

    .recent-album-title {
    font-size: .75rem;
}

    .recent-artist-name {
        color: var(--light-grey);
        font-size: .65rem;
    }




    /* NEWS */
    .news h2 {
        letter-spacing: 5px;
        padding: 0 0;
        margin: 0;
        font-size: 1.35rem;
    }

    .news {
        width: 100%;
    }
    
    .news .blurb {
        font-size: .35rem;
    }

    .blurb img {
        width: 200px;
        border: 1px solid var(--dark-grey);
    }

    .blurb {
        border-bottom: 1px solid var(--dark-grey);
        margin-bottom: 20px;
    }


    /* GENERAL RULES */
    .mobile-hide {
        display: none;
    }

    .web-hide {
        display: block;
    }


    .mobile-nav {
        display: block;
        color: black;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        border: 1px solid var(--main-dark);
        background-color: var(--dark-grey);
        font-size: 1.65rem;
        position: fixed;
        z-index: 1000;
        bottom: 0;
        height: 35px;
        left: -1px;
        border-bottom: 1px solid var(--dark-grey);
    }

    .mobile-nav ul {
        padding-left: 0;
        width: 100%;
        margin: 0 auto;
        color: black;

    }

    .mobile-nav li {
        display: inline-block;
        list-style: none;
        border-right: 1px solid var(--main-dark);
        width: 20%;
        margin: 0 auto;
        text-align: center;
        padding: 0;
 
    }    

    .mobile-nav li a {
        color: black;
    }

    .mobile-nav ul li:last-child {
        border: 0;
        padding-left: 15px;
    }

    .mailing-list {
        display: block;
    }


    /* ARTISTS MOBILE */

    .artists_mobile {
        background-color: black;
        text-align: center;
        margin: 0 auto;
    }

    .artists_mobile h1 {
        text-transform: uppercase;
        font-size: 1.55em;
        text-align: center;
        padding: 0 auto;
    }

    .artists_mobile .artist_list {
        width: 80% auto;
        text-align: center;
    }

    .artists_mobile .artist_list table {
        margin: 0 auto;
        padding: 5px 0;
        text-align: center;
    }

    .artists_mobile img {
        width: 150px;
        border: 1px solid white;
    }

    .genre-mobile {
        font-size: .55rem;
    }

    .sophos-name {
        font-size: 1.45rem;
    }
}

