/* FONT */
@font-face {
    font-family: trad;
    src: url("/resources/fonts/trado.ttf");
}

html {
    font-family: trad;
    color: white;
}


.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "side_nav main_content main_content main_content main_content right_""side_nav main_content main_content main_content main_content right_""side_nav main_content main_content main_content main_content right_";
}

.side_nav {
    grid-area: side_nav;
    text-align: center;
    width: 55%;
}

.side_nav ul {
    list-style: none;
}

.side_nav .gr-side-logo {
    width: 150px;
    padding-left: 10px;
}

a {
    text-decoration: none;
    color: white;
}

.side_nav a:hover {
    text-decoration: underline;
}

.side_nav ul li {
    text-transform: lowercase;
    padding-bottom: 1px;
    font-size: 1.35em;
    text-align: center;
    margin-bottom: 30px;
    padding-left: 10%;

}

.side_nav ul li:first-child {
    padding-top: 25px;
}

.main_content {
    grid-area: main_content;
}

.right_ {
    grid-area: right_;
}

body {
    background-color: black;
    color: white;
}

body h1 {
    text-transform: uppercase;
    font-size: 1.45em;
    letter-spacing: 4px;

}

/* NAVIGATIONS */
#store-nav {
    padding: 0;
}




/* MAIN INSIDE WRAPPER */
.main_in_wrapper {
    width: 100%;
}

/* RECENT EXCRETIONS */
.recent {
    padding-top: -25px;
    width: 100%;
    text-align: center;
}

.recent h1 {
    text-align: center;
    padding: 10px;
}

.recent ul li {
    text-decoration: none;
    list-style: none;
    align-content: center;
    display: inline-block;
    padding-right: 20px;

}

.recent ul li img {
    width: 100px;
    border: 1px solid white;

}

/* NEWS */
.news {
    padding-top: 25px;
}

.news h1 {
    text-align: center;
}

.news h2 {
    letter-spacing: 2px;
    padding: 0 0;
    margin: 0;
}

.news .date {
    margin: 0px;
    padding: 0;
    font-size: 0.85em;
    color: rgb(161, 161, 161);
}


/* ARTISTS */

.artists_page {
    display: none;
    background-color: black;
    text-align: center;
    margin: 0 auto;
    
}

.artists_page h1 {
    text-transform: uppercase;
    font-size: 1.55em;
    text-align: center;
    padding: 0 auto;
}

.artists_page .artist_list {
    width: 80% auto;
    text-align: center;
}

.artists_page .artist_list table {
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
}

.artist_list {
    margin: 0 auto;
}

.artist_list td {
    padding: 20px;
    text-align: center;
}

.artist_list p {
    padding: 0;
    margin: 0;
}

.artist_list img {
    border: 1px solid white;
    width: 125px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.artist_list h3 {
    font-size: .98em;
    padding-top: 0;
    margin-top: 0;
}

.artist_list .ma_logo {
    width: 20px;
    border: none;
    padding-right: 10px;
    padding-top: 5px;
}

.artist_list .bc_logo {
    width: 40px;
    border: none;
}

td .genre {
    font-size: 0.70em;
    color: rgb(168, 168, 168);
    margin: -15px;
}

/* INDIVIDUAL ARTIST PAGES */
.artist-logo {
    padding-top: 100px;
    width: 200px;
    text-align: center;
    margin: 0 auto;
}

.artist-genre {
    color: rgb(155, 155, 155);
    font-size: .95em;
}

p .artist-bio {
    padding: 0;
    margin: 0 auto;
}

.artist-releases img {
    width: 100px;
}

.artist-social {
    width: 25px;
    padding: 0 10px 0 10px;
}

.artist-social-bc {
    width: 50px;
}

/* EVENTS PAGE */
.events-page {
    text-align: center;
    display: none;
    color: white;
}


/* MODAL STYLING */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

