/* FONT */
@font-face {
    font-family: trad;
    src: url("/resources/fonts/trado.ttf");
}

:root {
    --main-dark: black;
    --dark-grey: rgb(65, 65, 65);
    --light-grey: rgb(110, 110, 110);
}

html {
    font-family: trad;
    color: white;
}


.grid-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "side_nav main_content main_content main_content main_content right_""side_nav main_content main_content main_content main_content right_""side_nav main_content main_content main_content main_content right_";
}

.side_nav {
    grid-area: side_nav;
    text-align: center;
    width: 10%;
    position: fixed;
}

.side_nav ul li a {
    cursor: pointer;
}

.side_nav ul {
    list-style: none;

}

.side_nav .gr-side-logo {
    width: 135px;
    padding-left: 10px;
}

.side_nav a .gr-side-logo {
    width: 135px;
}

a {
    text-decoration: none;
    color: white;
}

.side_nav a:hover {
    text-decoration: underline;

}

.side_nav ul li {
    text-transform: lowercase;
    padding-bottom: 1px;
    font-size: 1.35em;
    text-align: left;
    margin-bottom: 30px;
    padding-left: 10px;

}

.side_nav ul li:first-child {
    padding-top: 10px;
}

#store-nav a {
    padding-left: 10px;
}

.main_content {
    grid-area: main_content;
}

.right_ {
    grid-area: right_;
    position: fixed;
    width: 10%;
    left: 1000px;
    z-index: 1000;
    display: block;
}

body {
    background-color: black;
    color: white;
}

body h1 {
    text-transform: uppercase;
    font-size: 1.45em;
    letter-spacing: 4px;

}

/* NAVIGATIONS */
#store-nav {
    padding: 0;
}




/* MAIN INSIDE WRAPPER */
.main_in_wrapper {
    width: 100%;
}

.artist_title h1 {
    padding: 20px;
}


/* RECENT EXCRETIONS */
.recent {
    padding-top: -25px;
    width: 100%;
    text-align: center;
}

.recent h1 {
    text-align: center;
    padding-top: 5px;
    text-transform: uppercase;

}

.recent ul {
    padding-left: 0;
}

.recent ul li {
    text-decoration: none;
    list-style: none;
    align-content: center;
    display: inline-block;
    margin: 0 20px;
}

.recent ul li img {
    width: 100px;
    border: 1px solid white;

}

/* .recent-album-title {
    font-size: .85rem;
} */

.recent-artist-name {
    color: var(--light-grey);
    font-size: .85rem;
}

.news .web-hide {
    display: none;
}

.web-hide {
    display: none;
}

/* NEWS */
.news {
    padding-top: 20px;
    text-align: center;
    /* border-top: 1px solid var(--dark-grey); */
    padding-bottom: 15px;
}

.news h1 {
    text-align: center;
    font-size: 2rem;
}

.news h2 {
    letter-spacing: 2px;
    padding: 0 0;
    margin: 0;
}

.news .date {
    margin-top: 1px;
    padding: 0;
    font-size: 0.85em;
    color: rgb(161, 161, 161);
}

.news a {
    text-decoration: underline;
}

.blurb img {
    width: 100px;
}


/* ARTISTS */

.artists_page {
    display: none;
    background-color: black;
    text-align: center;
    margin: 0 auto;
}

.artists_page h1 {
    text-transform: uppercase;
    font-size: 1.55em;
    text-align: center;
    padding: 0 auto;
}

.artists_page .artist_list {
    width: 80% auto;
    text-align: center;
}

.artists_page .artist_list table {
    margin: 0 auto;
    padding: 5px 0;
    text-align: center;
}

.artist_list {
    margin: 0 auto;
    padding: 0;
}

.artist_list td {
    padding: 30px;
    text-align: center;
    margin: 5px;
}

.artist_list td #myBtn {
    padding: 5px;
}

.artist_list p {
    padding: 0;
    margin: 0;
}

.artist_list img {
    border: 1px solid var(--dark-grey);
    width: 155px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.artist_list h3 {
    font-size: .98em;
    padding-top: 0;
    margin-top: 0;
    width: 100%;
    text-align: center;
}

.artist_list .ma_logo {
    width: 20px;
    border: none;
    padding-right: 10px;
    padding-top: 5px;
}

.artist_list .bc_logo {
    width: 40px;
    border: none;
}

td .genre {
    font-size: 0.70em;
    color: rgb(168, 168, 168);
    margin: -15px;
}

/* INDIVIDUAL ARTIST PAGES */
.artist-logo {
    padding-top: 10px;
    width: 150px;
    text-align: center;
    margin: 0 auto;
}

.artist-genre {
    color: rgb(155, 155, 155);
    font-size: .85em;
    text-align: center;
}

/* p .artist-bio {
    padding: 0;
    margin: 0 auto;
} */

/* .artist-bio-popup {
    display: inline;
} */

/* .artist-releases img {
    width: 100px;
} */

.artist-social {
    width: 25px;
    padding: 0 10px 0 10px;
}

.artist-social-bc {
    width: 50px;
}

.album-title {
    width: 50%;
    font-size: .95rem;
    padding-top: -10px;
}

/* .artist-releases {
    margin: 0 auto;
    width: 100%;

} */

.artist-releases-div {
    align-content: center;
}

.album-title {
    margin-top: 5px;
    text-align: center;
}

.sophos-name {
    font-size: 55px;
}




/* EVENTS PAGE */
.events-page {
    text-align: center;
    display: none;
    color: white;
}


.events-main {
    text-align: center; 
    width: 80%;
}


MODAL STYLING
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 50px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.774);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #000000;
    margin: auto;
    padding: 0;
    border: 2px solid var(--dark-grey);
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.2s;
}

.modal-content ul li {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: var(--dark-grey);
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: var(--main-dark);
    color: white;
    text-align: center;
}

.modal-body {
    padding: 2px 75px;
    background-color: var(--main-dark);
    display: flex;
}

.modal-body img {
    width: 250px;
    height: 250px;
} 

.modal-bio h1 {
    padding-bottom: 1px;
    margin-bottom: 1px;
}

.modal-bio h3 {
    margin-bottom: 10px;
    border-bottom: 1px solid var(--dark-grey);
}

.artist-releases img {
    width: 85px;
    height: 85px;
    
}

.modal-footer {
    padding: 2px 16px;
    background-color: var(--main-dark);
    color: white;
}

.modal-footer ul li {
    list-style: none;
    display: inline-block;
    padding: 0;
}

.artist-bio {
    margin-top: 1px;
}

.artist-bio-popup {
    display: flex;
    padding-left: 20px;
}

.artist-bio-popup .bio {
    display: inline-block;
}

.artist-bio-popup .artist-popup-social {
    display: inline-block;
}

.artist-popup-social img {
    width: 50px;
    height: 50px;
}

#myBtn {
    padding: 0;
}




/* CONTACTS PAGE */
.contacts-page {
    display: none;
    padding-top: -25px;
    width: 100%;
    text-align: center;
}

.contact-main {
    padding-top: 30px;
}

.contact-main a:hover {
    text-decoration: underline;
}



/* MAILING LIST */
.mailing-list {
    width: 100px;
    text-align: center;
    padding: 1px;
    margin-top: 17px;
    padding-left: 20px;
    top: 0;
    right: 35px;
    display: block;
    position: fixed;
}

.mailing-list h4 {
    padding: 0;
    margin: 5px;
}

.mailing-icon {
    width: 35px;
}

.social-icon {
    border: 1px solid white;
}



/* FOOTER */
.footer {
    width: 100%;
    padding-top: 50px;
    font-size: .75rem;
    text-align: center;
    height: 35px;
    vertical-align: middle;
    position: fixed;
    display: none;
}



/* MOBILE */
.mobile-title {
    display: none;
}

.mobile-nav {
    display: none;
}